body{
    /* background-image:#ff0000;background-image:  
radial-gradient(at 40% 20%, hsla(28,100%,74%,1) 0, transparent 50%),  
radial-gradient(at 80% 0%, hsla(189,100%,56%,1) 0, transparent 50%),  
radial-gradient(at 0% 50%, hsla(355,85%,93%,1) 0, transparent 50%),  
radial-gradient(at 80% 50%, hsla(340,100%,76%,1) 0, transparent 50%),  
radial-gradient(at 0% 100%, hsla(22,100%,77%,1) 0, transparent 50%),  
radial-gradient(at 80% 100%, hsla(242,100%,70%,1) 0, transparent 50%),  
radial-gradient(at 0% 0%, hsla(343,100%,76%,1) 0, transparent 50%); */

/* background-image:#999bff;background-image:  
radial-gradient(at 0% 14%, hsla(55,71%,73%,1) 0, transparent 55%),  
radial-gradient(at 30% 23%, hsla(9,79%,65%,1) 0, transparent 54%),  
radial-gradient(at 73% 12%, hsla(47,95%,69%,1) 0, transparent 58%),  
radial-gradient(at 98% 37%, hsla(212,94%,73%,1) 0, transparent 42%),  
radial-gradient(at 49% 66%, hsla(89,75%,73%,1) 0, transparent 42%),  
radial-gradient(at 59% 44%, hsla(204,82%,66%,1) 0, transparent 40%),  
radial-gradient(at 69% 0%, hsla(351,79%,74%,1) 0, transparent 55%); */

background-image:#99eeff;background-image:  
radial-gradient(at 53% 1%, hsla(2,91%,78%,1) 0, transparent 57%),  
radial-gradient(at 19% 73%, hsla(265,88%,62%,1) 0, transparent 51%),  
radial-gradient(at 56% 2%, hsla(183,62%,64%,1) 0, transparent 55%),  
radial-gradient(at 28% 84%, hsla(217,60%,61%,1) 0, transparent 50%),  
radial-gradient(at 69% 89%, hsla(237,75%,63%,1) 0, transparent 52%),  
radial-gradient(at 36% 31%, hsla(172,78%,73%,1) 0, transparent 41%),  
radial-gradient(at 43% 24%, hsla(219,64%,76%,1) 0, transparent 57%);
background-attachment: fixed;
background-position: center center;
background-size: cover;

}